.articles {
    margin: 14em;
}

.articles-title {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 2em;
}

.articles-list {
    list-style-type: none;
    display: flex;
    gap: 60px;
}

.articles-list-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20%;
}

.articles-list-image {
    width: 320px;
    height: 230px;
    border-radius: 4px;
}

.articles-list-link {
    color: var(--grayish-blue);
    font-size: 15px;
}

.articles-list-title {
    font-size: 20px;
    font-weight: 500;
}

.articles-list-text {
    color: var(--grayish-blue);
}

@media screen and (max-width: 1440px) {
    .articles-list-image {
        width: 200px;
        height: 160px;
    }

    .articles-title {
        font-size: 35px;
    }
    
    .articles-list-text {
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px) {
    .articles {
        margin: 5em;
    }

    .articles-title {
        font-size: 28px;
    }
    
    .articles-list-image {
        width: 150px;
        height: 100px;
    }

    .articles-list-title {
        font-size: 16px;
    }

    .articles-list-link {
        font-size: 13px;
    }

    .articles-list-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .articles {
        margin: 4em;
    }

    .articles-title {
        font-size: 24px;
    }

    .articles-list-image {
        width: 120px;
        height: 80px;
    }

    .articles-list-link {
        font-size: 9px;
    }
    
    .articles-list-title {
        font-size: 15px;
    }
    
    .articles-list-text {
        font-size: 10px;
    }
}

@media screen and (max-width: 428px) {
    .articles {
        margin: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .articles-list {
        flex-direction: column;
        margin: 1em;
        margin-bottom: 5em;
        justify-content: center;
        align-items: center;
    }

    .articles-list-item {
        width: auto;
    }

    .articles-list-image {
        width: 99%;
        height: auto;
    }

    .articles-list-title {
        font-size: 26px;
    }

    .articles-list-text {
        font-size: 16px;
    }

    .articles-list-link {
        font-size: 14px;
    }
}