.choose {
    margin: 0 14em;
}

.choose-title{
    font-size: 50px;
    font-weight: 400;
    color: var(--dark-blue);
    margin-bottom: 1em;
}

.choose-text {
    color: var(--grayish-blue);
    font-size: 22px;
}

.choose-text2 {
    color: var(--grayish-blue);
    font-size: 22px;
    margin-bottom: 5em;
}

.choose-options {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.choose-options-title {
    font-size: 24px;
    font-weight: 500;
    margin: 1em 0;
    color: var(--dark-blue);
}

.choose-options-text {
    color: var(--grayish-blue);
    width: 80%;
}

@media screen and (max-width: 1440px) {
    .choose-title {
        font-size: 35px;
    }
    
    .choose-options-text {
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px) {
    .choose {
        margin: 0 10em;
    }

    .choose-title {
        font-size: 28px;
    }

    .choose-text,
    .choose-text2,
    .choose-options-text {
        font-size: 13px;
    }

    .choose-options-title {
        font-size: 19px;
    }

    .choose-options {
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .choose {
        margin: 0 4em;
    }

    .choose-title {
        font-size: 24px;
    }

    .choose-options-text,
    .choose-text,
    .choose-text2 {
        font-size: 10px;
    }
}

@media screen and (max-width: 428px) {
    .choose {
        margin: 2em;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .choose-title {
        font-size: 35px;
    }

    .choose-text,
    .choose-text2 {
        font-size: 16px;
    }

    .choose-options {
        flex-direction: column;
        margin: 1em;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 50px;
    }

    .choose-options-text,
    .choose-text,
    .choose-text2 {
        font-size: 16px;
        width: auto;
}
}