.header {
    background-color: var(--white);
    display: flex;
    justify-content: space-around;
    padding: 1em;
    align-items: center;
    position: absolute;
    width: 100vw;
    z-index: 2;
}

.navigation-itens {
    color: var(--grayish-blue);
    margin-right: 1.5em;
}

.navigation-btn {
    padding: 1em 1.5em;
    border: none;
    border-radius: 2.4em;
    background: var(--gradient);
    font-size: 15px;
    cursor: pointer;
    color: var(--white);
}

.menu-bar {
    display: none;
}


@media screen and (max-width: 1024px) {
    .navigation-itens {
        font-size: 16px;
    }

    .navigation-btn {
        font-size: 12px;
    }
}

@media screen and (max-width: 428px) {
    .navigation-itens {
        display: none;
    }

    .menu-bar {
        display: block;
    }

    .mobile-menu {
        display: block;
        padding: 0.7em;
        border-bottom: 1px solid rgb(196, 193, 193);
    }

    .mobile-menu-all {
        position: absolute;
        z-index: 20;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        top: 8%;
        right: 13%;
        padding-left: 1em;
        background-color: white;
    }
}